name: Release Drafter and Publisher

on:
  pull_request:
    types: [opened, reopened, synchronize, closed]
    branches:
      - develop
      - main
  workflow_dispatch:

permissions:
  contents: write
  pull-requests: write

jobs:
  update_release_draft:
    if: ${{ github.event_name == 'pull_request' && github.event.action != 'closed' }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Update Release Draft
        uses: release-drafter/release-drafter@v6
        with:
          config-name: ${{ github.base_ref == 'develop' && 'release-drafter-develop.yml' || 'release-drafter-main.yml' }}
          commitish: ${{ github.base_ref }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  publish_release:
    if: ${{ github.event_name == 'pull_request' && github.event.action == 'closed' && github.event.pull_request.merged == true }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Publish Release
        uses: release-drafter/release-drafter@v6
        with:
          config-name: ${{ github.base_ref == 'develop' && 'release-drafter-develop.yml' || 'release-drafter-main.yml' }}
          commitish: ${{ github.base_ref }}
          publish: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
